@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #376880;
  --secondary-color: #B5DAEC;
  --font-family-main: 'Roboto Slab', serif;
}

body {
  font-family: var(--font-family-main);
  color: #333;
  margin: 0;
  padding: 0;
}
